#imgElement{
    width:30%;
}
body{
    background-color:#FFECF5;
    font-family: 'Fondamento', cursive;
}
.btn{
    background-color: 	#DEB887;
}
span{
    font-size: 35px;
}
li{
    list-style: none
}