#imgElement{
    width:30%;
}
body{
    background-color:#FFECF5;
    font-family: 'Fondamento', cursive;
}
#devourButton, #addBurger{
    background-color: 	#DEB887;
}
span{
    font-size: 30px;
}
ul{
    list-style: none
}